{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %} 
    <body>
        <h1>About Us</h1>
        
        <h2>Hours</h2>
       <p> Monday-Saturday 9am-6pm</p>

        <h2>Contact Information</h2>
        <p>Phone Number: 555-555-5555</p>
        <p>Email Address: blueandgreyspa@gmail.com</p>
        
        <h2>Location</h2>
        <p>Georgetown University Campus</p>
        <p>3700 O St. NW</p>
        <p> Washington</p>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AGeorgetown_campus_and_neighborhood_map_from_osm.svg&psig=AOvVaw2pGKwfN96oN2s2cpK3sGjg&ust=1683663440383000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCND6wqnF5v4CFQAAAAAdAAAAABAD" class="img-fluid rounded mb-4" alt="spa map">
</body>