{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %} 
    <body>
        <h1>About Us</h1>
        
        <h2>Hours</h2>
       <p> Monday-Saturday 9am-6pm</p>

        <h2>Contact Information</h2>
        <p>Phone Number: 555-555-5555</p>
        <p>Email Address: blueandgreyspa@gmail.com</p>
        
        <h2>Location</h2>
        <p>Georgetown University Campus</p>
        <p>3700 O St. NW</p>
        <p> Washington</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Georgetown_campus_and_neighborhood_map_from_osm.svg/1199px-Georgetown_campus_and_neighborhood_map_from_osm.svg.png?20110322000120" class="img-fluid rounded mb-4" alt="spa map">
</body>
{% endblock %}