{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}



 
<style>

    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }
    
    input,
    label {
        margin: 0.4rem 0;
    }
    
    </style>
    
    <body>
        <h1>About Us</h1>
        
        <h2>Hours</h2>
       <p> Monday-Saturday 9am-6pm</p>

        <h2>Contact Information</h2>
        <p>Phone Number: 555-555-5555</p>
        <p>Email Address: blueandgreyspa@gmail.com</p>
        
        <h2>Location</h2>
        <p>Georgetown University Campus</p>
        <p>3700 O St. NW</p>
        <p> Washington</p>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AGeorgetown_campus_and_neighborhood_map_from_osm.svg&psig=AOvVaw2pGKwfN96oN2s2cpK3sGjg&ust=1683663440383000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCND6wqnF5v4CFQAAAAAdAAAAABAD" class="img-fluid rounded mb-4" alt="spa map">
</body>

<body>
    <h1>Book Your Appointment</h1>
    <label for="start">Select a date for your appointment:</label>
    
    <input type="date" id="start" name="trip-start"
           value="date"
           min="2023-01-01" max="2024-12-31">
    
           <style> {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }
        
        input,
        label {
            margin: 0.4rem 0;
        }
        
        </style>
        
        <label for="appt">Choose a time for your appointment:</label>
        
        <input type="time" id="appt" name="appt"
               min="09:00" max="18:00" required>
        
        <small>Office hours are 9am to 6pm</small>
    
        <form action="/action_page.php">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" value="Doe"><br><br>
          </form>
    
        <p><button>Submit</button></p>
    
{% endblock %}
</body>