{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

<div class="container text-center">
    <h1 class="mt-5">Welcome to Our Spa</h1>
    <p class="lead">Relax, rejuvenate, and refresh at our luxurious spa.</p>
    
    <img src="{{ url_for(https://travel.home.sndimg.com/content/dam/images/travel/fullrights/2018/2/12/0/CI_FontainebleauMiamiBeach_LapisSpa_BestDaySpas.jpg.rend.hgtvcom.966.725.suffix/1518457096309.jpeg) }}" class="img-fluid rounded my-4" alt="Spa Image">

    <h2>Indulge in Our Luxurious Spa Services</h2>
    <p>At Blue & Gray Spa, we offer a wide range of spa services, including massages, facials, body treatments, and more, all tailored to meet your specific needs. Our professional therapists are trained in the latest techniques, ensuring that you receive the best care possible. Our spa services include:</p>

    <h2>Effortless Online Appointment System</h2>
    <p>At Blue & Gray Spa, we understand that your time is valuable. That's why we've made it simple and convenient for you to book your spa appointment online. With our user-friendly appointment system, you can:</p>

    <h2>Book Your Spa Appointment Today</h2>
    <p>Experience the ultimate relaxation at Blue & Gray Spa. With our luxurious spa services and state-of-the-art appointment system, you're just a few clicks away from embarking on a journey to rejuvenate your mind, body, and soul. Don't wait another day; book your appointment now and indulge in the tranquility and bliss that awaits you at Blue & Gray Spa.</p>

</div>

{% endblock %}
