{% extends "bootstrap_5_layout.html" %}
{% set active_page = "user_orders" %}

{% block content %}

    <h1>Your Appointments</h1>

    {% if orders|length == 0 %}

        <p class="lead">
            Oh, you have not yet requested an appointment.
            Please visit the <a href="/products">Services page</a>!
        </p>

    {% else %}

        <p class="lead">Here are your recent appointments:</p>

        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Appointment Id</th>
                        <th scope="col">User Email</th>
                        <th scope="col">Service ID</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Service Price</th>
                        <th scope="col">Appointment Date & Time</th>
                    </tr>
                </thead>

                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            {{ order.id }}
                        </td>
                        <td>
                            {{ order.user_email }}
                        </td>
                        <td>
                            {{ order.product_id }}
                        </td>
                        <td>
                            {{ order.product_name }}
                        </td>
                         <td>
                            {{ order.product_price }}
                        </td>
                        <td>
                            {{ appointment_datetime }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
